body {
  background-color: #f1f1f1;
}

.light-orange-color {
  color: #EBE1C5;
}

.button {
  border-radius: 10px;
  text-decoration: none;
  height: 2rem;
  padding-top: 2px;
}

.home .button {
  width: 11rem;
  border-radius: 10px;
  border: 1px solid #595643;
  text-decoration: none;
  height: 3.7rem;
  align-items: center;
  place-content: center;
}

.button-light-orange {
  background-color: #EBE1C5;
  color: #595643;
  border-color: 2px solid #595643;
}

.button:hover {
  background-color: #e8d8ab;
  color: #595643;
}

.button-primary {
  background-color: #EBCC6E;
  color: #595643;
}


img {
  width: 100%;
}

.home-button {
  position: absolute;
  display: flex;
  top: 400px;
  left: 110px;
}

.entenda-seu-negocio .row .col-8 {
  margin: auto;
}

.frases .row .col-8 {
  margin: auto;
}

.frases .row .col-8 .titulo {
  font-size: 36px;
}

.titulo {
  font-size: 48px;
  font-weight: bold;
  margin-top: 8rem;
  text-align: center;
  text-transform: uppercase;
  color: #595643;
}

.cursos .row .col-8 {
  margin: auto;
}

.cursos-img {
  margin-bottom: 30px;
}

.perguntas .row .col-8 {
  margin: auto;
}

.accordion {
  --bs-accordion-bg: #4E6B66;
  --bs-accordion-btn-color: #f1f1f1;
  font-weight: bold;
  --bs-accordion-btn-focus-box-shadow: #4e6b668a;
}

.accordion-button:not(.collapsed) {
  color: #EBE1C5;
  background-color: #4E6B66;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  font-weight: bold;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-button {
  font-weight: bold;
}

.accordion-item {
  color: #E6E6E6;
}
