.container {
  width: 25rem;
  height: 20rem;
  text-transform: uppercase;

  .titulo {
    font-size: 2.5rem;
    font-weight: 600;
    color: #f6f6f6;
  }
  .descricao{
    color: #f6f6f6;
    font-size: .9rem;
    font-weight: 500;
  }
  mat-form-field{
    display: inline;
  }
  mat-label{
    font-weight: 700;
    color: #f6f6f6;
  }
  .container-botao{
    display: grid;
    padding: 0 2rem;
  }
}
