<div class="container">
  <div class="row text-center mt-5">
    <div class="col-12">
      <span class="titulo">nova senha</span>
    </div>
    <div class="col-12 mt-3">
      <span class="descricao">Email cadastrado</span>
    </div>
    <div class="col-12" style="padding: 0 2rem;">
      <mat-form-field  appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput #input placeholder="Wayne@hotmail.com">
      </mat-form-field>
    </div>
    <div class="col-12 container-botao mt-4">
      <button mat-raised-button color="primary">Confirmar</button>
    </div>
  </div>
</div>
