.container {
  border: 1px solid #48473c3c;
  border-radius: 15px;
  height: 100%;
  background-color: #f1f1f1;

  .lucros{
    // border: 1px solid red;
    height: 75vh;
    padding: 0 1.5rem;
  }
  .title {
    font-size: 1.7rem;
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
    color: #48473c;
    text-transform: uppercase;
  }

  .form-control{
    width: 15rem;
    display: inline;
  }

  mat-form-field{
    display: inline;
  }
  mat-label{
    font-weight: 700;
    color: #48473c;
  }
}
