<div class="login" [ngClass]="corpo">
  <div class="container">
    <div class="content first-content fundo-branco">
      <div class="first-column">
        <h2 class="title title-primary">Seja Bem Vindo</h2>
        <!-- <p class="description description-primary">To keep connected with us</p>
        <p class="description description-primary">please login with your personal info</p> -->
        <button class="btn btn-primary-register" (click)="singIn()">Já possui conta?</button>
      </div>
      <div class="second-column">
        <h2 class="title title-second">Cadastre-se</h2>

        <p class="description description-second"></p>
        <form class="form">
          <label class="label-input" for="">
            <i class="bi bi-person-circle" style="color: #595643;margin-right: 0.5rem;"></i>
            <input type="text" placeholder="Nome">
          </label>

          <label class="label-input" for="">
            <i class="bi bi-telephone" style="color: #595643;margin-right: 0.5rem;"></i>
            <input type="number" placeholder="Telefone">
          </label>

          <label class="label-input" for="">
            <i class="bi bi-envelope-at-fill" style="color: #595643;margin-right: 0.5rem;"></i>
            <input type="email" placeholder="Email">
          </label>

          <label class="label-input" for="">
            <i class="bi bi-lock-fill" style="color: #595643;margin-right: 0.5rem;"></i>
            <input type="password" placeholder="Senha">
          </label>

          <label class="label-input" for="">
            <i class="bi bi-lock-fill" style="color: #595643;margin-right: 0.5rem;"></i>
            <input type="password" placeholder="Confirmar Senha">
          </label>

          <button class="btn btn-second" routerLink="/main/dashboard">Cadastrar</button>
        </form>
      </div><!-- second column -->
    </div><!-- first content -->
    <div class="content second-content fundo-laranja">
      <div class="first-column">
        <h2 class="title title-primary">Olá, é novo por aqui?</h2>
        <!-- <p class="description description-primary">Enter your personal details</p>
        <p class="description description-primary">and start journey with us</p> -->
        <button class="btn btn-primary-register" (click)="singIn()">cadastre-se</button>
      </div>
      <div class="second-column">
        <h2 class="title title-second">LOGIN</h2>

        <p class="description description-second"></p>
        <form class="form">

          <label class="label-input" for="">
            <i class="bi bi-envelope-at-fill" style="color: #595643; margin-right: 0.5rem;"></i>
            <input type="email" placeholder="Email">
          </label>

          <label class="label-input" for="">
            <i class="bi bi-lock-fill" style="color: #595643;margin-right: 0.5rem;"></i>
            <input type="password" placeholder="Senha">
          </label>

          <a class="password" style="color: #4E6B66; font-weight:bold;" (click)="openDialog()">Esqueci minha senha?</a>
          <button class="btn btn-second" routerLink="/main/dashboard" >login</button>
        </form>
      </div><!-- second column -->
    </div><!-- second-content -->
  </div>
</div>
