<footer>
  <div class="container mt-2 pt-5">
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/Navbar.svg" alt="">
        <p class="rodape-info mt-2 pl-3">©Copyright 2022</p>
        <p class="rodape-info">(15)99835-6358</p>
        <p class="rodape-info">INOVACTECHNOLOGY@GMAIL.com</p>
      </div>
      <div class="col-3">
        <p class="rodape-sobre">Sobre</p>
        <p class="rodape-sobre"><a href="">sobre nós</a></p>
      </div>
      <div class="col-3">
        <p class="rodape-sobre">Conecte:</p>
        <a href="" class="intagram">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <div class="col-3">
        <p class="rodape-frase">Espalhando e construindo o saber</p>
      </div>
    </div>
  </div>
</footer>
