nav {
  height: 6vh;
}
.light-orange-color {
  color: #ebe1c5;
}
li {
  a {
    font-size: 1.7rem;
  }
  a:hover {
    color: #EBCC6E;
    transition: 300ms;
  }
}

.botao {
  border-radius: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  height: 2rem;
  padding-top: 2px;
}

.home .botao {
  width: 11rem;
  border-radius: 10px;
  border: 1px solid #595643;
  text-decoration: none;
  height: 3.7rem;
  align-items: center;
  place-content: center;
}

.botao-light-orange {
  background-color: #ebe1c5;
  color: #595643;
  border: none;
}

.botao:hover {
  background-color: #e8d8ab;
  color: #595643;
}
