<header>
  <nav class="navbar navbar-expand-sm navbar-dark light-orange-color"
      style="background-color: #4E6B66;padding: 0.5rem 2rem 0.5rem 2rem;">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/img/Navbar.svg" alt="">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link active light-orange-color" href="#" aria-current="page">Home<span
                          class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link light-orange-color" href="#">Cursos</a>
              </li>
          </ul>
          <a class="button button-light-orange px-5" routerLink="login">Login</a>
      </div>
  </nav>
</header>
