.container {
  border: 1px solid #48473c3c;
  border-radius: 15px;
  height: 100%;
  background-color: #f1f1f1;

  .title {
    font-size: 1.7rem;
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
    color: #48473c;
    text-transform: uppercase;
  }
  .nome-usuario {
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
    color: #48473c;
    text-transform: uppercase;
  }
  .perfil {
    max-width: 500px;
    height: 20vh;
    font-size: 0;
    text-align: center;
    div {
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin: 10px;
      width: 7rem;
      height: 7rem;
      line-height: 100px;
      background-color: #ebcc6e;
      font-size: 40px;
    }
  }
  .btn {
    text-transform: uppercase;
  }
  .botao-primario {
    background-color: #ebcc6e;
    color: #4e6b66;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    width: 139px;
    height: 35px;
  }
  .botao-primario:hover {
    background-color: #ddb849;
    color: #3f625c;
    font-weight: 500;
    transition: 350ms;
  }
  .botao-secundario {
    background: #4e6b66;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: #ebe1c5;

    width: 139px;
    height: 35px;
  }
  .botao-secundario:hover {
    background: #3f625c;
    color: #ebcc6e;
    font-weight: 500;
    transition: 350ms;
  }
  mat-form-field {
    display: inline;
  }
  mat-label {
    font-weight: 700;
    color: #48473c;
  }

  .alterar-senha {
    background: #4e6b66;
    border-radius: 15px;
    height: 50vh;
    margin: 2.6rem 2.8rem;
    box-shadow: 6px 5px 4px rgb(0 0 0 / 25%);
    padding: 2rem;

    mat-label {
      font-weight: 500;
      color: #f1f1f1;
      opacity: 0.3;
    }
    .titulo {
      font-weight: 600;
      font-size: 1.5rem;
      color: #fff;
      text-transform: uppercase;
    }
    .botao-salvar {
      background-color: #ebcc6e;
      color: #4e6b66;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 12px;

      width: 100%;
      height: 2.6rem;
    }
    .botao-salvar:hover {
      background-color: #ddb849;
      color: #3f625c;
      font-weight: 500;
      transition: 350ms;
    }
  }
}
