<div class="container">
  <div class="row">
    <div class="col-12 title mt-5">
      <span>
        cursos e eventos
      </span>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 cursos-principal">
      <div class="row">
        <div class="col-4">
          <div class="curso-tipo">
            curso
          </div>
          <div style="text-align: center;">
            <img
              src="https://gestao-sebrae-sp.dotgroup.com.br/files/uploaded/solutions/6920211985fc190dfe1222e0116b3f3b1624391162.webp"
              class="curso-img-gr" alt="imagem">
          </div>
        </div>
        <div class="col-8">
          <div class="titulo">
            <span class="titulo-principal">
              <a href="">A jornada do cliente na Era Digital</a>
            </span>
          </div>
          <div class="detalhe">
            <span>
              Mapear a jornada dos seus clientes é importante e permite que você desenvolva estratégias digitais para
              alcançar, conquistar e fidelizar mais pessoas através das experiências positivas com a sua marca. Neste
              programa, você vai conhecer as últimas ferramentas para fazer este mapeamento, além de aprender como fazer
              marketing de relacionamento e utilizar no seu negócio estratégias de CRM, omnichannel, atendimento
              humanizado e live commerce.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-12">
      <div class="row justify-content-evenly mt-5">
        <div class="col-2 cursos-item">
          <div class="curso-tipo">
            Workshop
          </div>
          <div class="curso-img">
            <img
              src="https://gestao-sebrae-sp.dotgroup.com.br/files/uploaded/solutions/b0a349b3c9aaae5b734aaf12d643b5601642509848.webp"
              class="img-fluid rounded-top" alt="curso imagem">
          </div>
          <div class="curso-titulo">
            <a href="">Workshop para Startups- Pitch e Diferencial Competitivo</a>
          </div>
          <div class="curso-descricao">
            Um workshop super prático com dicas sobre tudo que vc precisa saber para fazer um bom pitch!
          </div>
        </div>
        <div class="col-2 cursos-item">
          <div class="curso-tipo">
            Curso
          </div>
          <div class="curso-img">
            <img
              src="https://gestao-sebrae-sp.dotgroup.com.br/files/uploaded/solutions/47733c062b0f9611021bf64a7c1dddb11646764054.webp"
              class="img-fluid rounded-top" alt="curso imagem">
          </div>
          <div class="curso-titulo">
            <a href="">Avaliando as vendas do seu negócio</a>
          </div>
          <div class="curso-descricao">
            Saber a maneira certa de falar com seu cliente é uma forma de potencializar as vendas do seu negócio. Mas
            para suas vendas serem cada vez mais bem sucedidas é essencial que você comece a fazer um planejamento de
            vendas. Além disso, existe algo que normalmente é negligenciado no mercado de trabalho, mas pode alavancar
            ainda mais seu negócio e levá-lo mais longe: a avaliação das suas vendas. Neste curso, vamos te ensinar as
            melhores práticas e te apresentar as melhores ferramentas para você aumentar cada vez mais os seus
            resultados fazendo a qualificação das suas vendas
          </div>
        </div>
        <div class="col-2 cursos-item">
          <div class="curso-tipo">
            Trilhas
          </div>
          <div class="curso-img">
            <img
              src="https://gestao-sebrae-sp.dotgroup.com.br/files/uploaded/learning_paths/0.2571035218622202card.png.webp"
              class="img-fluid rounded-top" alt="curso imagem">
          </div>
          <div class="curso-titulo">
            <a href="">Redes sociais: mais oportunidades para sua empresa</a>
          </div>
          <div class="curso-descricao">
            Nesta trilha de aprendizagem composta por três cursos, você vai compreender os principais conceitos, boas
            práticas, técnicas e ferramentas de marketing digital para impulsionar as redes sociais do seu negócio.
          </div>
        </div>
        <div class="col-2 cursos-item">
          <div class="curso-tipo">
            Curso
          </div>
          <div class="curso-img">
            <img
              src="https://gestao-sebrae-sp.dotgroup.com.br/files/uploaded/solutions/b914e59627558334f6a0abbfa277d59b1622617975.webp"
              class="img-fluid rounded-top" alt="curso imagem">
          </div>
          <div class="curso-titulo">
            <a href="">Planeje suas metas e resultados</a>
          </div>
          <div class="curso-descricao">
            Você, empreendedor, sabe para onde está indo e aonde quer chegar? Estabelecer metas claras e resultados
            esperados é fundamental para o sucesso do seu negócio! Neste curso você vai entender quais os benefícios de
            um planejamento bem elaborado para a saúde da sua empresa.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
