/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-deep-orange);
$my-app-accent:  mat-palette($mat-yellow, 400);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

body{
  background-color: #CCCCCC;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
