nav {
  height: 8vh;
}
.light-orange-color {
  color: #ebe1c5;
}

.button {
  border-radius: 20px;
  text-decoration: none;
  padding: 0.5rem 0.6rem;
  margin-left: auto;
}

.button-light-orange {
  background-color: #ebe1c5;
  color: #595643;
  border-color: 2px solid #595643;
}

.button:hover {
  background-color: #e8d8ab;
  color: #595643;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ebe1c5;
}
